table,
th,
td {
    border: 2px solid black;
    border-collapse: collapse;
    background-color: whitesmoke;
    margin: auto;
}

table {
    width: 90%;
    margin: auto;
}

th {
    padding: 2%;
}

td {
    padding: 1%;
    text-align: center;
}

img {
    flex: 1;
    border-radius: 5%;
    margin: .5em;
}


.sites {
    margin: 0.5em;
    border-radius: 1%;
}

body {
    background-color: darkkhaki;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-bottom: 1.5%;
    font-size: 1.5em;
}

h1 {
    color: honeydew;
}

h2 {
    text-align: center;
    line-height: 50px;
}

p {
    word-wrap: break-word;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;

}

.Pic {
    border-radius: 100%;
}

.namePicture {
    background-image: url(tableMountain.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.sixImage {
    height: 50%;
    float: right;
}

.castleImage {
    height: 50%;
    float: right;
}

.cityImage {
    height: 50%;
    float: right;
}

.historicPlaces {
    margin: 0%;
}


@media (min-width:960px) {
    .historicPlaces {
        display: flex;
    }

    .namePicture {
        display: flex;
    }

    .whichCity {
        display: flex;
    }
    h1 {
        flex: 4;
        font-size: 7vw;
        margin-left: 20%;
       /* margin-top: 15%; */
        letter-spacing: 20%;
        color: honeydew;
    }
}

@media (max-width:959px) {
    .Pic {
        margin:auto;
        display: block;
    }

    .PicCity {
        width: 90%;
        margin: 5%;
    }

    .name {
        text-align: center;
    }

    .sixImage {
        float: left;
        margin-right: 8%;
        clear: both;
    }

    .namePicture {
        background-size: 100% 100%;
    }

    .six {
        clear: right;
    }

    .castle {
        clear: left;
    }

    .sixImage {
        height: 20%;
    }

    .castleImage {
        height: 20%;
    }

    .cityImage {
        height: 20%;

    }
}