h1 {
    font-size: 8vw;
    color: chocolate;
    text-align: center;
}
body {
    background-image:url(back.jpg);
    background-size: 100% 100%;
    background-repeat:repeat-y;
}
.link1 {
    font-size: 3vw;
    display: inline;
    text-align: center;
    color:white;
    border: 2px solid black;
    background-color: chocolate;
    padding: 10px;
    border-radius: 30%;
}
.link2 {
    font-size: 3vw;
    display: inline;
    text-align: center;
    color: white;
    border: 2px solid black;
    background-color: chocolate;
    padding: 10px;
    border-radius: 30%;
}
.everything {
    text-align: center;
}
.first {
     flex-direction: column-reverse;
}
.pik {
    border: 3px solid chocolate;
    border-radius: 100%;
    margin-bottom: 20px;
}